.model-viewer1-container {
    width: 100%;
    display: flex;
    overflow: auto;
    min-height: 100vh;
    align-items: center;
    flex-direction: column;
}
.model-viewer1-header {
    width: 100%;
    display: flex;
    z-index: 100;
    position: fixed;
    align-items: center;
    flex-direction: column;
    background-color: var(--dl-color-gray-white);
}
.model-viewer1-desktop-menu {
    flex: 1;
    display: flex;
    justify-content: space-between;
}
.model-viewer1-links {
    flex: 1;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: flex-end;
}
.model-viewer1-nav22 {
    margin-left: var(--dl-space-space-unit);
}
.model-viewer1-nav32 {
    margin-left: var(--dl-space-space-unit);
}
.model-viewer1-burger-menu {
    display: none;
}
.model-viewer1-icon {
    width: var(--dl-size-size-xsmall);
    cursor: pointer;
    height: var(--dl-size-size-xsmall);
}
.model-viewer1-mobile-menu1 {
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100vh;
    display: none;
    padding: 32px;
    z-index: 100;
    position: absolute;
    flex-direction: column;
    justify-content: space-between;
}
.model-viewer1-nav {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}
.model-viewer1-top {
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: var(--dl-space-space-threeunits);
    justify-content: space-between;
}
.model-viewer1-close-menu {
    display: flex;
    align-items: center;
    justify-content: center;
}
.model-viewer1-icon02 {
    width: var(--dl-size-size-xsmall);
    cursor: pointer;
    height: var(--dl-size-size-xsmall);
}
.model-viewer1-links1 {
    flex: 0 0 auto;
    display: flex;
    align-self: flex-start;
    align-items: flex-start;
    flex-direction: column;
}
.model-viewer1-nav121 {
    margin-bottom: var(--dl-space-space-unit);
}
.model-viewer1-nav221 {
    margin-bottom: var(--dl-space-space-unit);
}
.model-viewer1-nav321 {
    margin-bottom: var(--dl-space-space-unit);
}
.model-viewer1-buttons {
    display: flex;
    margin-top: var(--dl-space-space-unit);
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}
.model-viewer1-icon04 {
    width: var(--dl-size-size-xsmall);
    height: var(--dl-size-size-xsmall);
    margin-right: var(--dl-space-space-twounits);
}
.model-viewer1-icon06 {
    width: var(--dl-size-size-xsmall);
    height: var(--dl-size-size-xsmall);
    margin-right: var(--dl-space-space-twounits);
}
.model-viewer1-icon08 {
    width: var(--dl-size-size-xsmall);
    height: var(--dl-size-size-xsmall);
}
.model-viewer1-hero {
    flex: 0 0 auto;
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.model-viewer1-hero1 {
    height: 164px;
    align-items: center;
    flex-direction: column;
    padding-bottom: var(--dl-space-space-twounits);
    justify-content: center;
}
.model-viewer1-hero-heading {
    width: var(--dl-size-size-xxlarge);
    height: 39px;
    max-width: 800px;
    text-align: center;
}
.model-viewer1-gallery {
    width: 100%;
    height: 100%;
    display: flex;
    position: relative;
    align-items: flex-start;
    padding-top: var(--dl-space-space-halfunit);
    border-color: rgba(120, 120, 120, 0.4);
    border-style: solid;
    border-width: 0px;
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-halfunit);
    justify-content: flex-start;
    background-color: #FBD0C9;
}
.model-viewer1-con1 {
    flex: 0 0 auto;
    width: 10%;
    height: 50%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.model-viewer1-image {
    width: 100%;
    object-fit: cover;
}
.model-viewer1-btn1 {
    width: 234px;
}
.model-viewer1-con2 {
    flex: 0 0 auto;
    width: 10%;
    height: 50%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.model-viewer1-image01 {
    width: 100%;
    object-fit: cover;
}
.model-viewer1-btn2 {
    width: 234px;
}
.model-viewer1-con3 {
    flex: 0 0 auto;
    width: 10%;
    height: 50%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.model-viewer1-image02 {
    width: 100%;
    object-fit: cover;
}
.model-viewer1-btn3 {
    width: 234px;
}
.model-viewer1-con4 {
    flex: 0 0 auto;
    width: 10%;
    height: 50%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.model-viewer1-image03 {
    width: 100%;
    object-fit: cover;
}
.model-viewer1-btn4 {
    width: 234px;
}
.model-viewer1-con5 {
    flex: 0 0 auto;
    width: 10%;
    height: 50%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.model-viewer1-image04 {
    width: 100%;
    object-fit: cover;
}
.model-viewer1-btn5 {
    width: 234px;
}
.model-viewer1-con6 {
    flex: 0 0 auto;
    width: 10%;
    height: 50%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.model-viewer1-image05 {
    width: 100%;
    object-fit: cover;
}
.model-viewer1-btn6 {
    width: 234px;
}
.model-viewer1-con7 {
    flex: 0 0 auto;
    width: 10%;
    height: 50%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.model-viewer1-image06 {
    width: 100%;
    object-fit: cover;
}
.model-viewer1-btn7 {
    width: 234px;
}
.model-viewer1-con8 {
    flex: 0 0 auto;
    width: 10%;
    height: 50%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.model-viewer1-image07 {
    width: 100%;
    object-fit: cover;
}
.model-viewer1-btn8 {
    width: 234px;
}
.model-viewer1-con9 {
    flex: 0 0 auto;
    width: 10%;
    height: 50%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.model-viewer1-image08 {
    width: 100%;
    object-fit: cover;
}
.model-viewer1-btn9 {
    width: 234px;
}
.model-viewer1-con10 {
    flex: 0 0 auto;
    width: 10%;
    height: 50%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.model-viewer1-image09 {
    width: 100%;
    object-fit: cover;
}
.model-viewer1-btn10 {
    width: 234px;
}
.model-viewer1-gallery1 {
    width: 100%;
    height: 100%;
    display: flex;
    position: relative;
    align-items: flex-start;
    padding-top: var(--dl-space-space-halfunit);
    border-color: rgba(120, 120, 120, 0.4);
    border-style: solid;
    border-width: 0px;
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-halfunit);
    justify-content: flex-start;
    background-color: #FBD0C9;
}
.model-viewer1-con11 {
    flex: 0 0 auto;
    width: 10%;
    height: 50%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.model-viewer1-image10 {
    width: 100%;
    object-fit: cover;
}
.model-viewer1-btn11 {
    width: 234px;
}
.model-viewer1-con12 {
    flex: 0 0 auto;
    width: 10%;
    height: 50%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.model-viewer1-image11 {
    width: 100%;
    object-fit: cover;
}
.model-viewer1-btn12 {
    width: 234px;
}
.model-viewer1-con13 {
    flex: 0 0 auto;
    width: 10%;
    height: 50%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.model-viewer1-image12 {
    width: 100%;
    object-fit: cover;
}
.model-viewer1-btn13 {
    width: 234px;
}
.model-viewer1-con14 {
    flex: 0 0 auto;
    width: 10%;
    height: 50%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.model-viewer1-image13 {
    width: 100%;
    object-fit: cover;
}
.model-viewer1-btn14 {
    width: 234px;
}
.model-viewer1-con15 {
    flex: 0 0 auto;
    width: 10%;
    height: 50%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.model-viewer1-image14 {
    width: 100%;
    object-fit: cover;
}
.model-viewer1-btn15 {
    width: 234px;
}
.model-viewer1-con16 {
    flex: 0 0 auto;
    width: 10%;
    height: 50%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.model-viewer1-image15 {
    width: 100%;
    object-fit: cover;
}
.model-viewer1-btn16 {
    width: 234px;
}
.model-viewer1-con17 {
    flex: 0 0 auto;
    width: 10%;
    height: 50%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.model-viewer1-image16 {
    width: 100%;
    object-fit: cover;
}
.model-viewer1-btn17 {
    width: 234px;
}
.model-viewer1-con18 {
    flex: 0 0 auto;
    width: 10%;
    height: 50%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.model-viewer1-image17 {
    width: 100%;
    object-fit: cover;
}
.model-viewer1-btn18 {
    width: 234px;
}
.model-viewer1-con19 {
    flex: 0 0 auto;
    width: 10%;
    height: 50%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.model-viewer1-image18 {
    width: 100%;
    object-fit: cover;
}
.model-viewer1-btn19 {
    width: 234px;
}
.model-viewer1-con20 {
    flex: 0 0 auto;
    width: 10%;
    height: 50%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.model-viewer1-image19 {
    width: 100%;
    object-fit: cover;
}
.model-viewer1-btn20 {
    width: 234px;
}
.model-viewer1-container1 {
    gap: var(--dl-space-space-unit);
    display: flex;
    max-width: var(--dl-size-size-maxwidth);
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
}
.model-viewer1-nav1 {
    flex: 0 0 auto;
    display: flex;
    margin-top: 0px;
    align-items: center;
    flex-direction: row;
}
.model-viewer1-nav222 {
    margin-left: var(--dl-space-space-unit);
}
.model-viewer1-nav322 {
    margin-left: var(--dl-space-space-unit);
}
.model-viewer1-separator {
    flex: 0 0 auto;
    width: 100%;
    height: 0px;
    display: flex;
    margin-top: var(--dl-space-space-twounits);
    align-items: flex-start;
    margin-left: 0px;
    border-color: var(--dl-color-gray-900);
    border-style: solid;
    border-width: 1px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-twounits);
    flex-direction: row;
    border-top-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
}
.model-viewer1-container2 {
    flex: 0 0 auto;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}
.model-viewer1-icon-group1 {
    border: 2px dashed rgba(120, 120, 120, 0.4);
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}
@media(max-width: 1920px) {
    .model-viewer1-con1 {
        width: 10%;
    }
    .model-viewer1-btn1 {
        width: 100%;
        text-align: center;
    }
    .model-viewer1-con2 {
        width: 10%;
    }
    .model-viewer1-btn2 {
        width: 100%;
        text-align: center;
    }
    .model-viewer1-con3 {
        width: 10%;
    }
    .model-viewer1-btn3 {
        width: 100%;
        height: var(--dl-size-size-small);
        text-align: center;
    }
    .model-viewer1-con4 {
        width: 10%;
    }
    .model-viewer1-btn4 {
        width: 100%;
        text-align: center;
    }
    .model-viewer1-con5 {
        width: 10%;
    }
    .model-viewer1-btn5 {
        width: 100%;
        text-align: center;
    }
    .model-viewer1-con6 {
        width: 10%;
    }
    .model-viewer1-btn6 {
        width: 100%;
        text-align: center;
    }
    .model-viewer1-con7 {
        width: 10%;
    }
    .model-viewer1-btn7 {
        width: 100%;
        text-align: center;
    }
    .model-viewer1-con8 {
        width: 10%;
    }
    .model-viewer1-btn8 {
        width: 100%;
        text-align: center;
    }
    .model-viewer1-con9 {
        width: 10%;
    }
    .model-viewer1-btn9 {
        width: 100%;
        text-align: center;
    }
    .model-viewer1-con10 {
        width: 10%;
    }
    .model-viewer1-btn10 {
        width: 100%;
        text-align: center;
    }
    .model-viewer1-con11 {
        width: 10%;
    }
    .model-viewer1-btn11 {
        width: 100%;
        text-align: center;
    }
    .model-viewer1-con12 {
        width: 10%;
    }
    .model-viewer1-btn12 {
        width: 100%;
        text-align: center;
    }
    .model-viewer1-con13 {
        width: 10%;
    }
    .model-viewer1-btn13 {
        width: 100%;
        text-align: center;
    }
    .model-viewer1-con14 {
        width: 10%;
    }
    .model-viewer1-btn14 {
        width: 100%;
        text-align: center;
    }
    .model-viewer1-con15 {
        width: 10%;
    }
    .model-viewer1-btn15 {
        width: 100%;
        text-align: center;
    }
    .model-viewer1-con16 {
        width: 10%;
    }
    .model-viewer1-btn16 {
        width: 100%;
        text-align: center;
    }
    .model-viewer1-con17 {
        width: 10%;
    }
    .model-viewer1-btn17 {
        width: 100%;
        text-align: center;
    }
    .model-viewer1-con18 {
        width: 10%;
    }
    .model-viewer1-btn18 {
        width: 100%;
        text-align: center;
    }
    .model-viewer1-con19 {
        width: 10%;
    }
    .model-viewer1-btn19 {
        width: 100%;
        text-align: center;
    }
    .model-viewer1-con20 {
        width: 10%;
    }
    .model-viewer1-btn20 {
        width: 100%;
        text-align: center;
    }
}
@media(max-width: 991px) {
    .model-viewer1-hero1 {
        flex-direction: column;
    }
    .model-viewer1-hero-heading {
        text-align: center;
    }
}
@media(max-width: 767px) {
    .model-viewer1-navbar-interactive {
        padding-left: var(--dl-space-space-twounits);
        padding-right: var(--dl-space-space-twounits);
    }
    .model-viewer1-desktop-menu {
        display: none;
    }
    .model-viewer1-burger-menu {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .model-viewer1-nav121 {
        margin-bottom: var(--dl-space-space-unit);
    }
    .model-viewer1-nav221 {
        margin-bottom: var(--dl-space-space-unit);
    }
    .model-viewer1-nav321 {
        margin-bottom: var(--dl-space-space-unit);
    }
    .model-viewer1-hero1 {
        padding-left: var(--dl-space-space-twounits);
        padding-right: var(--dl-space-space-twounits);
    }
    .model-viewer1-footer {
        padding-left: var(--dl-space-space-twounits);
        padding-right: var(--dl-space-space-twounits);
    }
    .model-viewer1-separator {
        margin-top: var(--dl-space-space-oneandhalfunits);
        margin-left: 0px;
        margin-right: 0px;
        margin-bottom: var(--dl-space-space-oneandhalfunits);
    }
    .model-viewer1-container2 {
        align-items: center;
        flex-direction: column;
        justify-content: space-between;
    }
    .model-viewer1-text {
        margin-bottom: var(--dl-space-space-oneandhalfunits);
    }
}
@media(max-width: 479px) {
    .model-viewer1-navbar-interactive {
        padding: var(--dl-space-space-unit);
    }
    .model-viewer1-mobile-menu1 {
        padding: 16px;
    }
    .model-viewer1-hero1 {
        padding-top: var(--dl-space-space-twounits);
        padding-left: var(--dl-space-space-unit);
        padding-right: var(--dl-space-space-unit);
        padding-bottom: var(--dl-space-space-twounits);
    }
    .model-viewer1-footer {
        padding: var(--dl-space-space-unit);
    }
    .model-viewer1-separator {
        margin-top: var(--dl-space-space-oneandhalfunits);
        margin-bottom: var(--dl-space-space-oneandhalfunits);
    }
    .model-viewer1-container2 {
        align-items: center;
        flex-direction: column;
        justify-content: space-between;
    }
    .model-viewer1-text {
        text-align: center;
        margin-bottom: var(--dl-space-space-oneandhalfunits);
    }
}
